* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    width: 100%;
    background-color: #fafafa;
    overflow-x: hidden; 
}

.about-container {
    width: 100%;
    max-width: 55rem;
    margin: 4rem auto;
    padding: 0 5rem 5rem;
}

.about-content {
    font-size: 1.3rem;
    line-height: 1.5;
    margin: 2rem;
}