* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    width: 100%;
    /* background-color: #f0f0f0; */
    overflow-x: hidden;
    
}


.article-heading a {
    text-decoration: none;
    color: var(--dark-blue);
}

a.article-desc {
    text-decoration: none;
    color: var(--grayish-blue);
}


    
/* UTILITIES */
.u-mb-small {
    margin-bottom: 1.6rem;
}

.u-mb-medium {
    margin-bottom: 3rem;
}

.u-mb-large {
    margin-bottom: 5rem;
}


:root {
    --dark-grey: hsl(0, 0, 25%);
    --very-light-grey: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(233, 26%, 24%);
    --grayish-blue: hsl(233, 8%, 62%);
}

.blogs-container { 
    width: 100%;
    max-width: 130rem;
    margin: 0 auto;
    padding: 0 5rem 5rem;
}


.article-section {
    background-color: var(--very-light-grey);
    margin: 0 auto;

}

.article-section h2 {
    font-size: 3rem;
    padding-top: 4rem;
    color: var(--dark-blue);

}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
/*    grid-gap: 15px;*/
    row-gap: 1.7rem;
    column-gap: 1.7rem;
}

.article-box {
    background-color: white;
/*    margin-bottom: 2rem;*/
    background-origin: 1px solid transparent;
    border: 1px solid #ccc;
    border-radius: .5rem;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.article-box img {
    width: 100%;
    height: 18rem;
}

.article-box img {
  transition: transform 0.9s ease;
}

.article-content {
    padding: .5rem 2rem 2rem;
}

.article-author {
    font-size: .8rem;
    color: var(--grayish-blue);
}

.article-heading {
    font-size: 1.4rem;
    font-weight: 200;
 
}


