* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; */
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    width: 100%;
    background-color: #fafafa;
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
/*    margin: 5rem 0;*/
    height: 100vh;
}

.contacts {
    padding: 1.5rem 4rem;
    background-color: orangered;
    border-radius: 1rem;
}

.contacts-icon {
    margin: 1rem;
    border: .1px solid white;
    border-radius: .5rem;
    padding: .3rem;
}

