* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--very-light-grey: hsla(0, 0%, 100%, 0.274);
	--light-grey: hsla(344, 100%, 100%, 0.58);	
}


body {
	background-color: #fafafa;
}

.post-container {
	width: 80%;
	margin: 0 auto;
	padding: 0 2rem;
	padding-bottom: 2rem;
	background-color: white;
	border-radius: .7rem;
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
	width: 100%;
	height: 2.5rem;
	font-size: 1rem;
 	font-family: 'Source Sans Pro', sans-serif;
	margin: 2rem 0;
	padding: 0 .5rem;
	border: .1rem solid #ccc;
	border-radius: .3rem;
/*	padding: 1rem 10rem;*/
}

.form-title:focus {
  	border: .1rem solid #ccc;
    outline: .2rem solid #FFD580;

}



.form-image {
	width: 100%;
/*	height: 2.5rem;*/
	margin-bottom: 2rem;
/*	padding: 0 .5rem;*/
	border: .1rem solid #ccc;
	border-radius: .3rem;
/*	padding: 1rem 10rem;*/
}

.form-image::file-selector-button {
  border: none;
  background: #ccc;
  padding: .7rem .7rem;
  margin-right: 1.5rem;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.form-image::file-selector-button:hover {
  background-color: #ddd;
}

.btn-publish {
	border: none;
	font-size: 1rem;
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	margin-left: 25%;
	width: 50%;
	border-radius: .3rem;
  	background: #2e2e2e;
  	padding: .7rem .7rem;
  	color: #fff;
  	cursor: pointer;
  	transition: background .2s ease-in-out;  	

}