{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blogs.css') }}">
{% endblock %}

{% block body %}
<section class="article-section">
        <div class="blogs-container">

            <div class="blogs-header-text">
                <h2 class="u-mb-small heading-secondary">
                    Latest Posts
                </h2>
                <p class="u-mb-small">
                    Get the latest news and updates...
                </p>
            </div>

            <div class="article">
                {% for post in posts %}
                <div class="article-box">
                    <div>
                        <img src="{{ url_for('static', filename='blogs_img/' + post.image) }}" alt="Image">
                    </div>
                    <div class="article-content">
                        <p class="article-author u-mb-small">
                            By {{ post.author }}
                        </p>
                        <h4 class="article-heading u-mb-small">
                            <a href="/blogs/{{ post.id }}">{{ post.title }}</a>
                        </h4>
                        <p class="article-excerpt">
                            <a class="article-desc" href="/blogs/{{ post.id }}">{{ get_short_description(post.description) | safe }}</a>
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>


        </div>
    </section>
    {% include 'footer.html' %}
{% endblock %}