
<footer>
    <div class="footer-container">
        <div class="footer">

            <div class="footer-icon container">
                <div class="footer-logo u-mb-large">
                    <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="" class="container">
                </div>

            </div>

            <div class="footer-links container">
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>

            <div class="footer-links container">
                <ul>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-credit container">
                <div class="footer-text">
                    <p> © Easyblogr. All Rights Reserved</p>
                </div>
            </div>

        </div>
    </div>
</footer>
