<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
  <!-- fonts link -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
  <!-- icons link -->
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav-profile.css') }}">
  <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/nav-dashboard.css') }}"> -->

</head>
<body>
  <header>
    <div class="container">
        <nav class="nav-header container">
            <nav>
                <!-- <img src="{{ url_for('static', filename='images/EasyBlogr-logo-crop.png') }}" alt="" class="logo"> -->
                <a href=""><h1 class="text-logo">EasyBlogr</h1></a>

            </nav>
            <input type="checkbox" class="check" id="toggle">
            <label for="toggle">
                <img src="{{ url_for('static', filename='images/icon-hamburger.svg') }}" alt="" class="hamburger">
            </label>
            <div class="nav-link">
                <ul class="nav-ul nav-ul-link">
                    <li><a href="{{ url_for('blogs') }}" class="btn-links">Blogs</a></li>
                    <li><a href="#" class="btn-links">About</a></li>
                </ul>
                
                <div class="btn left-side">
                    <li><a href="{{ url_for('logout') }}" class="btn-links">logout</a></li> 
                    <a href="{{ url_for('profile') }}" class="avatar"><img src="{{ url_for('static', filename='images/_c15b5e58-7719-4c16-a00b-0eb16b0783ff.jpeg') }}"></a>
                    <p class="user-name">{{ name }}</p>
                    <!-- <a href="" class="chevron"><img src="{{ url_for('static', filename='images/icon-arrow-light.svg') }}"></a> -->
                </div>
            </div>
        </nav>
    </div>
  </header>



</body>
</html>

