<header>
    <div class="container">
        <nav class="nav-header container">
            <nav>
                <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="" class="logo">
                
            </nav>
            <input type="checkbox" class="check" id="toggle">
            <label for="toggle">
                <img src="{{ url_for('static', filename='images/icon-hamburger.svg') }}" alt="" class="hamburger">
            </label>
            <div class="nav-link">
                <ul class="nav-ul nav-ul-link">
                    <li><a href="#">blogs</a></li>
                    <li><a href="#">about</a></li>
                </ul>
                
                <div class="btn">
                    <a href="" class="btn-login">login</a>
                    <a href="" class="btn-signup">signup</a>
                </div>
            </div>
        </nav>
    </div>
</header>
