{% extends 'base.html' %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/profile.css') }}">
{% endblock %}

{% block body %}
    <div class="container">


        <div class="profile-container">

            <form method="POST" action="/profile" class="form" enctype="multipart/form-data">
                {{ form.hidden_tag() }}

                {% for message in get_flashed_messages() %}
    
                <div class="" role="">
                    {{ message }}
                    <!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
                </div>
    
                {% endfor %}

                <div>
                    <br/>
                    {{ form.firstname.label(class="form-label") }}
                    <br/>
                    {{ form.firstname(class=" form-title input readonly", readonly='readonly') }}
                </div>
                <br/>

                <div>
                    <br/>
                    {{ form.lastname.label(class="form-label") }}
                    <br/>
                    {{ form.lastname(class=" form-title input readonly", readonly='readonly') }}
                </div>
                <br/>

                <div>
                    <br/>
                    {{ form.username.label(class="form-label") }}
                    <br/>
                    {{ form.username(class=" form-title", placeholder='') }}
                </div>
                <br/>

                <div>
                    <br/>
                    {{ form.email.label(class="form-label") }}
                    <br/>
                    {{ form.email(class=" form-title input readonly", readonly='readonly') }}
                </div>
                <br/>

                <div>
                    <br/>
                    {{ form.about_author.label(class="form-label ") }}
                    <br/>
                    {{ form.about_author(class="form-title about-feild") }}
                </div>
                <br/>

                <div>
                    <br/>
                    {{ form.profile_pic.label(class="form-label") }}                    
                    <br/>
                    {{ form.profile_pic(class="form-image") }}
                </div>
                <br/>
                
                <br/>
                <div class="btn-signup">
                    {{ form.submit(class="btn-update button", value="Update Profile") }}
                </div>

            </form>
        </div>  
    </div>
{% endblock %}